.homepage #catAbb,
.homepage #go,
.homepage .leftlinks #cl_app_beta,
.no-js,
p.more {
    display: none;
}

#logo {
    font-size: 2.5rem;
}

.homepage-search .querybox {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 2px solid #464646;
    font-size: 16px;
}

.menu.collapsible > li {
    cursor: pointer;
}

.menu.collapsible > li.expand.s ul {
    display: block;
}

.menu.collapsible > li ul {
    display: none;
}

/* Write your CSS here. */
* {
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    background-color: #f5f5f5;
    color: #464646;
}

a {
    text-decoration: none;
}

a:hover,
a > span:hover {
    color: #800080;
    font-weight: bold;
}

a:visited,
a:visited > span {
    color: #800080;
}

ul {
    padding: 0;
}

ul > li {
    list-style: none;
}

.page-container {
    max-width: 1200px;
}

#leftbar,
#rightbar,
#center {
    float: left;
    padding: 0 30px;
    box-sizing: border-box;
}

#leftbar,
#rightbar {
    width: 25%;
}

#center {
    width: 50%;
    border: 1px solid #464646;
    border-radius: 10px;
}

#center > div {
    float: left;
    width: 33%;
}

#topbar h2 {
    text-align: center;
}

footer {
    clear: both;
}

ul.clfooter {
    text-align: center;
    border-top: 1px solid gray;
    padding: 10px 0;
}

ul.clfooter > li {
    display: inline;
    padding-right: 5px;
}

h4.ban::before {
    display: inline-block;
    background: url("https://appacademy-open-assets.s3-us-west-1.amazonaws.com/Module-Responsive-Design/attributes/assets/peace-symbol-emoji.png");
    content: '';
    background-size: cover;
    width: 1em;
    height: 1em;
    margin-right: .5em
}
